pageWidth = 1280px

main-color = #0284C6
main-color-lighten = #2FAEEE
text-color = #616161
bgcolor = #fafcfe
regular = Tahoma, Arial, sans-serif

font-regular = proxima_novaregular, Arial, sans-serif
font-semibol = proxima_novasemibold, Arial, sans-serif
font-light = proxima_novalight, Arial, sans-serif